<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="pt.iscte.pandionj.PandionJView"
            icon="images/pandionj.gif"
            id="pt.iscte.pandionj2.view1"
            name="PandionJ"
            restorable="true">
      </view>
   </extension>

</plugin>
