<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="arraytags" name="Array tags" schema="schema/arraytags.exsd"/>
   <extension-point id="typewidgets" name="Type Widgets" schema="schema/typewidgets.exsd"/>
   <extension-point id="valuetags" name="Value Tags" schema="schema/valuetags.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="pt.iscte.pandionj.category"
            class="pt.iscte.pandionj.PandionJView"
            icon="images/pandionj.gif"
            id="pt.iscte.pandionj.view"
            name="PandionJ"
            restorable="true">
      </view>
      <category
            id="pt.iscte.pandionj.category"
            name="PandionJ">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="pt.iscte.pandionj.context"
            name="PandionJ"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="pt.iscte.pandionj.arraytags">
      <array-tag
            class="pt.iscte.pandionj.extensions.StringCharArray"
            name="string"
            where="char[] to display its contents as a string">
      </array-tag>
      <array-tag
            class="pt.iscte.pandionj.extensions.MatrixWidget"
            name="matrix"
            where="well-formed matrix (all lines of same length) to render as an Algebra matrix">
      </array-tag>
   </extension>
   <extension
         point="pt.iscte.pandionj.typewidgets">
      <widget
            class="pt.iscte.pandionj.extensions.StringWidget">
      </widget>
      <widget
            class="pt.iscte.pandionj.extensions.IterableWidget">
      </widget>
   </extension>
   <extension
         id="pt.iscte.pandionj.marker"
         name="PandionJ tag marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
  

</plugin>
