<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="pt.iscte.pandionj.arraytags">
      <array-tag
            class="pt.iscte.pandionj.charts.GridWidget"
            name="grid"
            where="well-formed char[][] ">
      </array-tag>
      <array-tag
            class="pt.iscte.pandionj.charts.HistogramWidget"
            name="histogram"
            where="int[] with positive values">
      </array-tag>
   </extension>

</plugin>
