<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="pt.iscte.pandionj.product">
         <property
               name="lifeCycleURI"
               value="bundleclass://pt.iscte.pandionj.product/pt.iscte.pandionj.product.E4LifeCycle">
         </property>
         <property
               name="appName"
               value="pt.iscte.pandionj.product">
         </property>
         <property
               name="aboutImage"
               value="pandionj.png">
         </property>
      </product>
   </extension>

</plugin>
