<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="pt.iscte.pandionj.valuetags">
      <value-tag
            class="pt.iscte.pandionj.testplug.ColorARGBWidget"
            name="color"
            where="int variable encoded as ARGB">
      </value-tag>
      <value-tag
            class="pt.iscte.pandionj.testplug.BinaryWidget"
            name="binary"
            where="integer variable (byte/short/int/long) to be rendered in binary form">
      </value-tag>
   </extension>
  <extension
        point="pt.iscte.pandionj.typewidgets">
     <widget
           class="pt.iscte.pandionj.testplug.ColorAwtWidget">
     </widget>
  </extension>
  <extension
        point="pt.iscte.pandionj.arraytags">
     <array-tag
           class="pt.iscte.pandionj.testplug.HistogramWidget"
           name="histogram"
           where="int[] array with a maximum length of 256">
     </array-tag>
     <array-tag
           class="pt.iscte.pandionj.testplug.GridWidget"
           name="grid">
     </array-tag>
  </extension>

</plugin>
